.profile__text {
  max-width: 350px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
  padding-top: 16px;
  flex-basis: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__text {
    padding-top: 14px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  .profile__text {
    max-width: 200px;
  }
}
