.profile__img-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 27px;
  object-fit: cover;
  object-position: 50% 50%;
}

@media screen and (max-width: 560px) {
  .profile__img-avatar {
    margin-right: 0;
  }
}
