.profile__btn-edit {
  width: 24px;
  height: 24px;
  background-color: #000000;
  border: 1px solid #ffffff;
  background-image: url("../../../images/btn-edit.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-left: 18px;
  margin-top: 15px;
}

.profile__btn-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile__btn-edit {
    width: 18px;
    height: 18px;
    margin-top: 8px;
    margin-left: 10px;
  }
}
