.footer {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 66px;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 2 * 19px);
  }
}

@media screen and (max-width: 560px) {
  .footer {
    padding-top: 48px;
    margin-bottom: 36px;
  }
}
