.popup__input-error {
  visibility: hidden;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  padding-top: 5px;
  height: 30px;
}
