.photo-post__btn-like {
  width: 22px;
  height: 19px;
  background-color: #ffffff;
  background-image: url("../../../images/btn-like.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: 0;
}

.photo-post__btn-like:hover {
  opacity: 0.5;
}
