.page {
  max-width: 1280px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #000000;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 768px) {
  .page {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 560px) {
  .page {
    padding-left: 0px;
    padding-right: 0px;
  }
}
